.footerBody {
  background-color: #383b3a;
  padding: 2rem 32rem;
}

.upArrow {
  margin-bottom: 4rem;
  display: block;
}

.iconRow {
  display: block;
  margin: 2rem 0 2rem 0;
}

.iconHolder {
  width: 25%;
  float: left;
  display: inline;
  margin-bottom: 2rem;
}

.copyright {
  padding-top: 40px;
  color: #ffffff;
  text-align: center;
  font-family: Quicksand;
  font-size: 20px;
  display: block;
}

.jump:hover {
  animation: jump;
  animation-duration: 1s;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(-25px);
  }
}
